<%= form_for @service_pack, url: service_packs_path, local: true do |form| %>

  <% if @service_pack.errors.any? %>
    <div id="error_explanation" style="background: rgba(255,255,0,0.41)">
      <h2 style="color: #fc0000">
        <%= pluralize(@service_pack.errors.count, -"error") %> prohibited
        this service pack from being saved:
      </h2>
      <ul>
        <% @service_pack.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form--field">
    <%= form.label :name, class: "form--label" %>
    <span class="form--field-container">
      <span class="form--text-field-container -slim">
        <%= form.text_field :name, required: true, container_class:"-slim" %>
      </span>
    </span>
  </div>

  <div class="form--field">
    <%= form.label :total_units, class: "form--label" %>
    <span class="form--field-container">
      <span class="form--text-field-container -slim">
        <%= form.number_field :total_units, step: 'any', required: true %>
      </span>
    </span>
  </div>

  <div class="form--field">
    <%= form.label :started_date, class: "form--label" %>
    <span class="form--field-container">
      <span class="form--text-field-container -slim">
        <%= form.date_field :started_date, required: true %>
      </span>
    </span>
  </div>

  <div class="form--field">
    <%= form.label :expired_date, class: "form--label" %>
    <span class="form--field-container">
      <span class="form--text-field-container -slim">
        <%= form.date_field :expired_date, required: true %>
      </span>
    </span>
  </div>

  <div class="form--field">
    <%= form.label :threshold_1, class: "form--label" %>
    <span class="form--field-container">
      <span class="form--text-field-container -slim">
        <%= form.number_field :threshold1, required: true %>
      </span>
    </span>
  </div>

  <div class="form--field">
    <%= form.label :threshold_2, class: "form--label" %>
    <span class="form--field-container">
      <span class="form--text-field-container -slim">
        <%= form.number_field :threshold2, required: true %>
      </span>
    </span>
  </div>

  <hr>

  <%= render partial: 'rates_input' %>

  <div class="button-container">
    <%= form.submit class: "button -alt-highlight" %>
    <%= link_to "Back", service_packs_path, class: -"button -alt-highlight -new" %>
  </div>

<% end %>