<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h2> <%= @sp.name %> </h2>

<%= form_for @sp, url: service_packs_path, local: true do |form| %>

  <!--  print errors if any-->
  <% if @sp.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sp.errors.count, "error") %> prohibited this service pack from being saved:
      </h2>
      <ul>
        <% @sp.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--  edit form-->
  <p>
    <%= form.label :threshold1 %><br>
    <%= form.number_field :threshold1, placeholder: "threshold1" %>
  </p>
  <p>
    <%= form.label :threshold2 %><br>
    <%= form.number_field :threshold2 %>
  </p>

  <h2>Mapping rates:</h2>

  <ul>
    <%= form.fields_for :mapping_rates do |rates_form| %>
      <li>
        <%= rates_form.label "#{rates_form.object.activity.name}" %>  
        <%= rates_form.label :units_per_hour %>
        <%= rates_form.number_field :units_per_hour %>
        <%= rates_form.hidden_field :activity_id %>
      </li>
      <hr>
    <% end %>
  </ul>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

</body>
</html>