<%= stylesheet_link_tag -'service_packs', plugin: :openproject_service_packs %>

<% local_assigns[:additional_breadcrumb] = @sp.name %>
<% html_title l(:label_administration), -'Edit Service Pack' %>

<h2> <%= @sp.name %> </h2>

<%= form_for @sp, local: true do |form| %>

    <!--  print errors if any-->
    <% if @sp.errors.any? %>
      <div id="error_explanation">
        <h2 style="color: #fc0000">
          <%= pluralize(@sp.errors.count, -"error") %> prohibited this service pack from being saved:
        </h2>
        <ul>
          <% @sp.errors.full_messages.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form--field">
      <%= form.label :threshold1, class: "form--label" %>
      <span class="form--field-container">
        <span class="form--text-field-container -slim">
          <%= form.number_field :threshold1, placeholder: 'Threshold 1' %>
        </span>
      </span>
    </div>

    <div class="form--field">
      <%= form.label :threshold2, class: "form--label" %>
      <span class="form--field-container">
        <span class="form--text-field-container -slim">
          <%= form.number_field :threshold2, placeholder: 'Threshold 2' %>
        </span>
      </span>
    </div>

    <hr>

    <div id="rates-input">
      <table id="table-rates-input">
        <tr>
          <th>Activity</th>
          <th>Rate</th>
        </tr>
        <%= form.fields_for :mapping_rates do |rates_form| %>
          <tr>
            <td><%= rates_form.label "#{rates_form.object.activity.name}:" %></td>
            <td><%= rates_form.number_field :units_per_hour, placeholder: -'Units per hour', class: -'rates', required: true %></td>
            <span><%= rates_form.hidden_field :activity_id %></span>
          </tr>
        <% end %>
      </table>
    </div>

   <div class="button-container">
    <%= form.submit '&#x2714  Update'.html_safe, class: 'button -highlight' %>
    <%= link_to "Back", service_packs_path, class: 'button -highlight -edit' %>
   </div>

<% end %>



</body>
</html>