<%= stylesheet_link_tag -'service_packs', plugin: :openproject_service_packs %>

<% local_assigns[:additional_breadcrumb] = @sp.name %>
<% html_title l(:label_administration), -'Edit Service Pack' %>

<h2> <%= @sp.name %> </h2>

<%= form_for @sp, local: true do |form| %>

    <!--  print errors if any-->
    <% if @sp.errors.any? %>
      <div id="error_explanation">
        <h2 style="color: #fc0000">
          <%= pluralize(@sp.errors.count, -"error") %> prohibited this service pack from being saved:
        </h2>
        <ul>
          <% @sp.errors.full_messages.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>
      <%= form.label :threshold1 %>
      <%= form.number_field :threshold1, placeholder: 'Threshold 1' %>
    </p>
    <p>
      <%= form.label :threshold2 %>
      <%= form.number_field :threshold2, placeholder: 'Threshold 2' %>
    </p>

    <h2>Mapping rates:</h2>

    <ul>
        <%= form.fields_for :mapping_rates do |rates_form| %>
          <li>
            <%= rates_form.label rates_form.object.activity.name %>
            <%= rates_form.number_field :units_per_hour, placeholder: -'Units per hour', class: -'rates', required: true %>
            <%= rates_form.hidden_field :activity_id %>
          </li>
        <% end %>
    </ul>
   
    <%= form.submit '&#x2714  Update'.html_safe, class: 'button -highlight' %> 

<% end %>
<%= link_to "Back", service_packs_path, class: 'button -highlight -edit' %>


</body>
</html>