<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<%= form_with model: @sp, local: true do |form| %>

  <!--  print errors if any-->
  <% if @sp.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sp.errors.count, "error") %> prohibited this service pack from being saved:
      </h2>
      <ul>
        <% @sp.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--  edit form-->
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <h2>Mapping rates:</h2>
  <p>
    <%= form.label :threshold1 %><br>
    <%= form.number_field :threshold1 %>
  </p>
  <p>
    <%= form.label :threshold2 %><br>
    <%= form.number_field :threshold2 %>
  </p>
  <p>
    <%= form.label :management %><br>
    <%= form.number_field :management %>
  </p>
  <p>
    <%= form.label :development %><br>
    <%= form.number_field :development %>
  </p>
  <p>
    <%= form.label :testing %><br>
    <%= form.number_field :testing %>
  </p>
  <p>
    <%= form.label :support %><br>
    <%= form.number_field :support %>
  </p>
  <p>
    <%= form.label :specification %><br>
    <%= form.number_field :specification %>
  </p>
  <p>
    <%= form.label :other %><br>
    <%= form.number_field :other %>
  </p>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

</body>
</html>