<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>

<% html_title l(:label_administration), t(:service_packs) %>

<%= link_to 'New', new_service_pack_path, class: "button -alt-highlight" %>

<table>
  
  <tr>
    <th>Name</th>
    <th>Total Units</th>
    <th>Remained Units</th>
	<th>Started Date</th>
	<th>End Date</th>
	<th>Threshold 1</th>
	<th>Threshold 2</th>
	<th>Assigned</th>	    
  </tr>
 
  <% @service_packs.each do |sp| %>
    <tr>
      <td><%= link_to sp.name, service_pack_path(sp) %></td>
      <td><%= sp.total_units %></td>
      <td><%= sp.remained_units %></td>
      <td><%= sp.started_date %></td>
      <td><%= sp.expired_date %></td>
      <td><%= sp.threshold1 %></td>
      <td><%= sp.threshold2 %></td>
      <td><%= (sp.assigned? ? '&#x2714' : '<strong>X</strong>').html_safe %></td>
    </tr>
  <% end %>

</table>