<h1>
  Create New Service Pack
</h1>

<%= form_with scope: :service_pack, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :total_units %><br>
    <%= form.number_field :total_units %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>