<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
/*  background-color: #2196F3;*/
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: left;
  font-size: 20px;
}

.destroy {
  background-color: #fc0000 !important;
  color: #ffffff !important;
}
</style>


<h2><%= @service_pack.name %></h2>
 
<div class='grid-container'>
  <div> Total Units: </div>
  <div> <%= @service_pack.total_units %> </div>
  <div> Remained Units: </div>
  <div> <%= @service_pack.remained_units %> </div>
  <div> Started Date: </div>  
  <div> <%= @service_pack.started_date %> </div>
  <div> Expired Date: </div>
  <div> <%= @service_pack.expired_date %> </div>
</div>

<br>
<div class='combine'>
  <div class='rates'>
    <h2>Rates:</h2>

    <ul>
      <% @rates.each do |rate| %>  
        <li> <%= "#{rate.activity.name}: #{rate.units_per_hour} units/hour" %> </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render partial: "active_assignments" %>

<%= link_to 'Edit Service Pack', edit_service_pack_path(@service_pack), :class => 'button -alt-highlight' %> 
<%= link_to 'Back to Service Pack home page', service_packs_path, :class => 'button' %>

<%= link_to 'Destroy', service_pack_path(@service_pack), :class => 'button destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
