<%= javascript_include_tag 'service_packs.js', plugin: :openproject_service_packs %>
<%= stylesheet_link_tag 'service_packs', plugin: :openproject_service_packs %>

<% local_assigns[:additional_breadcrumb] = @service_pack.name %>
<% html_title l(:label_administration), @service_pack.name %>

<section id="detailed-sp">
  <div id="block-left">
    <div class="sp description">
      <h2>Description</h2>
      Name: <%= @service_pack.name %><br/>
      Total units: <%= @service_pack.total_units %><br/>
      Remain units: <%= @service_pack.remained_units %><br/>
      Started date: <%= @service_pack.started_date %><br/>
      Expired date: <%= @service_pack.expired_date %><br/>
      Threshold 1: <%= pluralize(@service_pack.threshold1, 'unit', 'units') %> <br/>
      Threshold 2: <%= pluralize(@service_pack.threshold2, 'unit', 'units') %><br/>
    </div>
    <div class="sp assigned">
      <%= render partial: -'active_assignments' %>
    </div>
  </div>

  <div id="block-right">
    <div class="sp rates">
      <h2>Rates</h2>
      <ul>
        <% @rates.each do |rate| %>
          <li> <%= rate.activity.name %>: <%= pluralize(rate.units_per_hour, -'unit') %>/hour</li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<div class='button-container clearfix'>
  <%#= link_to -'Back to Service Pack home page', service_packs_path, class: -'button float-left' %>

  <% if @service_pack.assigned? %>
    <%= link_to -'Delete', -'#', class: -'button destroy blocked float-right', disabled: true, :title => "Please unassign this service pack from all projects before deleting!" %>
  <% else %>
    <%= link_to 'Delete', service_pack_path(@service_pack), class: -'button destroy float-right', method: :delete, data: {confirm: -'Are you sure?', disable_with: -'Deleting...'} %>
  <% end %>
  <%= link_to -'Edit Service Pack', edit_service_pack_path(@service_pack), class: -'button -alt-highlight float-right' %>
</div>

<hr/>
<p class='other-formats'>Report available in: <%= link_to -'CSV', {action: :show, format: :csv} %></p>
