<%# service_pack, assign, unassign, rem, total %>
<%# link to report %>

<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table class="generic-table">
      <colgroup>
        <col highlight-col><col highlight-col><col highlight-col><col highlight-col><col>
      </colgroup>
      <thead>
        <tr>
          <% [-'Service Pack', -'Assign Date', -'Expiration Date', -'Units'].each do |column_name| %>
            <th><div class="generic-table--sort-header-outer"><div class="generic-table--sort-header"><span><%= column_name %></span></div></div></th>
          <% end %>
          <th><div class="generic-table--empty-header"></div></th>
        </tr>
      </thead>
      <tbody>
        <% unassign_ok_to_display = (@can_unassign ||= User.current.allowed_to?(:unassign_service_packs, @project)) %>
        <% @assignments.each do |assignment| %>
          <tr>
            <%= content_tag :td, assignment.service_pack.name %>
            <%= content_tag :td, assignment.assign_date %>
            <%= content_tag :td, assignment.unassign_date %>
            <%= content_tag :td, "#{assignment.service_pack.remained_units}/#{assignment.service_pack.total_units}" %>
            <%= content_tag :td, link_to(op_icon(-'icon icon-delete'),
                                        {action: :unassign, service_pack_id: assignment.service_pack.id },
                                         method: :post,
                                         data: { confirm: -'Are you sure?'}) if unassign_ok_to_display %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>