 <style>
   a.button{
    background-color: #1a67a3 !important;
    color: #ffffff !important;
  }
  h2 {
    padding-bottom: 0px;
    font-size: 1.25em;
  }
</style>

<div id="sp-display">
  <h2>Service Pack <%= @service_pack.name %> already assigned to <%= @project.name %></h2><hr/>
  <strong>Assignment Date</strong>: <%= @assignment.assign_date %>
  <strong>Valid Until</strong>: <%= @assignment.unassign_date %>
  <strong>Remained:</strong> <%= @service_pack.remained_units %>/<%= @service_pack.total_units %>
</div>
<br/>
<% if User.current.allowed_to?(:transfer_assignment, @project) %>
  <%= form_with model: @assignment, url: assigns_transfer_path(@project), local: true, method: :post do |f| %>
    Choose a Service Pack to apply:
    <%= f.select :service_pack_id, {},{},{id: "select-sp"} do %>
      <option selected>--Pick one Service Pack--</option> 
      <% ServicePack.availables.each do |assignable| %>
        <%= content_tag(:option, assignable.name, value: assignable.id, data: {start: assignable.started_date.to_s, end: assignable.expired_date.to_s, cap: assignable.total_units, rem: assignable.remained_units}) %>
      <% end %>
    <% end %>
    <br/>
    <%= f.submit -'Transfer Assignment', class: -'button -alt-highlight', id: 'sp-assign-button' %>
  <% end %>
  <%= javascript_include_tag 'assigns.js', plugin: :openproject_service_packs %>
  <div id='sp-content'></div>
<br/>
<% end %>
<% if @can_unassign ||= User.current.allowed_to?(:unassign_service_packs, @project) %>
  <%= link_to -'Unassign', assigns_unassign_path(@project), method: :post, class: -'button', data: { confirm: -'Are you sure?' }%>
  <% binding.pry %>
  <%= link_to 'Transfering this SP', sp_transfer_path(assignment_id: "#{@assignment.id}") %>
<% end %>