<style>
	td { max-width: 15vw !important; }
</style>
<h2>Service Pack Report</h2>
<form id="query_form" action="<%= sp_report_path %>" accept-charset="UTF-8" method="get">
	<fieldset class="form--fieldset -collapsible">
		<legend icon="filters-legend-icon" onclick="toggleFieldset(this);" class="form--fieldset-legend">
			Filter
		</legend>

		<div id="filter-fields">
			<ul id="filter_table" class="advanced-filters--filters">
				<li id="filter-project" class="advanced-filter--filters">
					<label for="proj_id">Project</label>
					<div class="advanced-filters--filters-value">
						<span class="inline-value">
							<%# data-preloaded: prefilled on server or need ajax %>
							<select name="proj_id" data-ajax-load="proj_available" data-preloaded="1" size="1" class="form--select filter-value">
							    <% if params[:proj_id] == -'all' %>
							        <option value='all' selected>--- All Projects ---</option>
							        <% @projects.pluck(:id, :name).each do |project| %>
							            <%= content_tag :option, projects[1], value: project[0], selected: false %>
							        <% end %>
							    <% else %>
								    <option value='all'>--- All Projects ---</option>
								    <% project_default_id = params[:proj_id].present? ? params[:proj_id].to_i : @project&.id %>
								    <% @projects.pluck(:id, :name).each do |project| %>
									    <%= content_tag :option, project[1], value: project[0], selected: project[0] == project_default_id %>
								    <% end %>
								<% end %>
							</select>
						</span>
					</div>
				</li>
				<li id="filter-project" class="advanced-filter--filters">
					<label for="service_pack_id">Service Pack</label>
					<div class="advanced-filters--filters-value">
						<span class="inline-value">
							<select name="service_pack_id" data-ajax-load="sp_available" data-preloaded="1" size="1" class="form--select filter-value">
								<% if params[:service_pack_id].present? %>
									<% sp_default_id = params[:service_pack_id].to_i %>
									<option value=''>--- All Service Packs ---</option>
									<% @sps.each do |service_pack| %>
										<%= content_tag :option, service_pack[1], value: service_pack[0], selected: service_pack[0] == sp_default_id %>
									<% end %>
								<% else %>
									<option value='' selected>--- All Service Packs ---</option>
									<% @sps.each do |service_pack| %>
										<%= content_tag :option, service_pack[1], value: service_pack[0] %>
									<% end %>
								<% end %>
							</select>
						</span>
					</div>
				</li>
			</ul>

		</div>
	</fieldset>
	<input type="submit" value="Apply" class="button -highlight"/>
</form>
<%# binding.pry %>
<% if @entries.empty? %>
	<%= no_results_box %>
<% else %>
	<%= render partial: -'report_table' %>
	<br/>
	<p class='other-formats'>Report available in: <a href="<%= url_for action: :report, format: :csv, only_path: :true, service_pack_id: params[:service_pack_id], proj_id: params[:proj_id] %>">CSV</a></p>
<% end %>
